@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to left, #6771da, #78bbc4, #c9a6e3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}



.container {
    background: linear-gradient(to bottom, #c4d4ec, #bba4db);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 800px;
    overflow: hidden;
    text-align: center;
    max-width: 100%;
    min-height: 600px;
}

.container p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}



.container span {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.container a {
    color: #221f1f;
    font-size: 15px;
    text-decoration: none;
    margin: 15px 0 10px;
    transition-property: color;
    transition-duration: 0.3s;
}

a:hover {
    color: rgb(83, 22, 225);
}

.container button {
    background-color: #c87676;
    color: #fff;
    font-size: 13px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition-duration: 0.3s;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.container button:hover {
    background: linear-gradient(to left, #60a4c9, #737ddb);
    color: #000000;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: #eee;
    width: 100%;
    margin: 10px 0;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    height: 40px;
    width: 40px;
}

.toggle-container {
   position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow:hidden;
    align-items: center;
    flex-direction: column;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
    border-radius: 150px 0 0 100px;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background: linear-gradient(to left, #6771da, #78bbc4);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}